@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
:root{
    --primary-color:  #102739;
    --secondary-color: #e7ab8d;
    --accent1-color: #206674;
    --accent2-color: #c8e7dd;

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Raleway', serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--secondary-color);
}
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
} 

header{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--nav-background-color);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    margin: 0;
    padding: 20px;
    border-radius: 5px;
}

.logo {
    justify-self: center;
    justify-content: center;
}

.logo img{
    justify-content: center;
    height: 100px;
}

h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-family: var(--heading-font);
}

p{
    margin-bottom: 1rem;
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: bold;
    padding: 20px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}
.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.herodiv {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 320px;
    left: 20px;
    background-color: rgba(40, 41, 42, 0.8);
    color: white;
    font-size: 49px;
    padding: 15px;
    width: 97%;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
}

.hero article{
    position: absolute;
    bottom: -10%;
    left: 10%;
    background-color: rgba(16, 34, 52, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
}

.hero article p{
    margin:30px;
}

.hero article img{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 200px;
    height: auto;
}

.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.history p, .history h2 {
    margin: 20px;
}
.history h2{
    text-align: center;
}

.adventures {
    display: grid;
    grid-template-rows: auto 1fr;
    gap:20px;
    padding:20px;
    text-align: center;
}

.adventures h2{
    margin:0;
}
.figures{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    justify-items: center;
}
.adventures figure{
    margin: 0;
    padding: 0;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    display: block;
}

.adventures figcaption {
    margin-top: 10px;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: var(--primary-color);
    width: 100%;
}
footer p {
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: 16px;
}

.social-links{
    display: flex;
    gap: 10px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
}
.social-links img {
    width: 24px;
    height: 24px;
}
.indent{
    padding-left: 2rem;
}
